/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

$link-color: #9E8B00;
$accent-color: #FFE000;

* {
    font-family: arial;
}
a {
    color: $link-color;
    &:hover {
        color: black;
    }
}
h1 {
    font-size: 6em;
    letter-spacing: -.05em;
}
h2 {
    letter-spacing: -2px;
}
.header h1 {
    font-weight: 700;
    font-size: 8em;
}
.header .nav {
    a {
        color: $link-color;
        &:hover, &:active {
            color: black;
            background-color: $accent-color;
        }
    }
}
.post {
    h2 {
        display: inline-block;
    }
}
.post-type {
    font-style: italic;
    color: lighten(black, 50%);
    margin-left: 10px;
}
.audio-player {
    position: relative;
    border-left: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
    padding: 0 2em;
    h4 {
        display: inline-block;
        margin-left: 1em;
        line-height: 1.3em;
    }
    .controls {
        display: inline-block;
        a {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.4em;
        }
    }
}
    
