---
layout: default
title: SOLRR
---
{% for post in site.posts %}
<div class="post">
    <div class="wrapper">
        <a href={{ post.url }}><h2>{{ post.title }}</h2></a>
        <div class="post-details">
            <span class="post-type">{{ post.categories }}</span>
            <h5>{{ post.date | date: "%d %b %Y" }}</h5>
        </div>
    </div>
    {{ post.content }}

    {% if post.soundcloud-url %}
    <div class="audio-player" data-title="{{ post.title }}" data-track_url="{{ post.soundcloud-url }}"></div>
    {% else post.soundcloud %}
    <div class="audio-player" data-title="{{ post.title }}" data-track_id="{{ post.soundcloud }}"></div>
    {% endif %}
</div>
{% endfor %}
