<div class="post">
    <div class="wrapper">
        <h2>{{ title }}</h2>
        <div class="post-details">
            <span class="post-type">{{ type }}</span>
            <h5>{{ date }}</h5>
        </div>
    </div>
    {{ content }}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ post.soundcloud }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
