---
layout: default
---
<div class="post">
    <div class="wrapper">
        <h2>{{ page.title }}</h2>
        <div class="post-details">
            <span class="post-type">{{ page.categories }}</span>
            <h5>{{ page.date | date: "%d %b %Y" }}</h5>
        </div>
    </div>
    {{ content }}

    {% if post.soundcloud-url %}
    <div class="audio-player" data-title="{{ post.title }}" data-track_url="{{ post.soundcloud-url }}"></div>
    {% else post.soundcloud %}
    <div class="audio-player" data-title="{{ post.title }}" data-track_id="{{ post.soundcloud }}"></div>
    {% endif %}
</div>
